<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="{{ base_dir ~ '/assets/css/bootstrap.min.css' }}">
    <link rel="stylesheet" type="text/css" href="{{ base_dir ~ '/assets/css/pdf.css' }}">
</head>
<body>
<div class="pdf-header" style='background-color: #4c4d4f; background-size:cover; padding: 20px'>
    <div class="row">
        <div class="col-xs-8">
            <div class="col-xs-12" style="color: #8c8c8c;">
                <img class="pdf-header-logo" src='{{ base_dir ~ '/assets/images/logo-blanco.png' }}' />
                <p>Tecnologías de la información y desarrollo empresarial</p>
            </div>
            <div class="col-xs-12">
                <h4>Folio: <span>{{ memoranda.folio}}</span></h4>
                <h4>Fecha de creación : <span>{{ memoranda.createdDate |date('d M, Y') |upper }}</span></h4>
            </div>
        </div>
        <div class="col-xs-4">
            <br>
            <h4>Minuta: <span>{{ memoranda.title }}</span></h4>
            <h5>Cliente: <span>{{ memoranda.client.name }}</span></h5>
            <h5>Proyecto: <span>{{ memoranda.project.name }}</span></h5>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="principal-div">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {{ memoranda.content | raw }}
            </div>
        </div>
        <div style="padding:20px; padding-top:80px; text-align:center; font-size:16px; page-break-inside: avoid !important;" >
            <img class="pdf-footer-logo" src="{{ base_dir ~ '/assets/images/logo-negro.png' }}"  /><br/>
            <span style="display:block;">Calle Julio Ruelas #45, San José Insurgentes, Benito Juárez, CDMX, México</span>
            <span style="display:block">Telf. (55)55937511&nbsp; | &nbsp;contacto@tide.mx</span>
            <span style="display:block">https://tide.mx</span>
        </div>
    </div>
</div>
</body>
</html>