body .principal-div {
    padding: 20px; }

.pdf-header h4, .pdf-header h3, .pdf-header h5 {
    color: #fff; }
.pdf-header span {
    color: #5ac6cc; }

.pdf-header-logo {
    max-height: 100px;
    max-width: 200px; }

.pdf-footer-logo {
    max-height: 50px;
    max-width: 100px;
    margin: 0 auto;
    position: relative;
    width: 30%;
    height: auto;
    text-align: center; }

hr {
    color: #5ac6cc; }

h2, h3, h4 {
    page-break-after: avoid; }

table {
    display: table; }

thead {
    display: table-header-group !important;
    page-break-after: avoid !important; }

tfoot {
    display: table-footer-group !important;
    page-break-after: avoid !important; }

tbody {
    display: table-row-group !important;
    page-break-after: auto !important; }

tr, img {
    display: table-row !important;
    page-break-inside: avoid !important;
    page-break-after: auto !important; }

.product-description table, .product-description th, .product-description td {
    border: 1px solid rgba(190, 190, 190, 0.58);
    padding: 5px;
}
.product-description table{
    width: 100%;
}
.product-description {
    padding: 10px;
}

td, th {
    display: table-cell !important; }

pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

@page {
    margin: 0.5cm;
    /* 2 values: width then height */
    size: letter !important; }
body {
    font-family: Georgia, ‘Times New Roman’, serif; }

.partial-cost {
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    border: 1px #ffffff solid;
    background-color: #5ac6cc; }
.partial-cost span {
    color: #4c4d4f; }

.total-cost {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffffff;
    height: auto;
    border: 1px #ffffff solid;
    background-color: #4c4d4f;
    text-align: right; }
.total-cost span {
    color: #ffffff; }

/*# sourceMappingURL=pdf.css.map */
