{% extends 'base.html.twig' %}

{% block title %}Hello ProcessPdfController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <div>
        <form class="" method="post" action="/process/pdfup" enctype="multipart/form-data">
            Estado de cuenta: <input type="file" name="file" id="file" />
            <p>
                <input type="submit" value="Cargar" />
            </p>
        </form>
    </div>
</div>
{% endblock %}
