<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Symfony</title>

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
        <style>
            body {
                font-family: 'Nunito', sans-serif;
            }
        </style>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body class="antialiased">
        
        <div class="container">
            <div class="row">
                <div class="col text-primary text-left mt-2">
                    <p>Período: {{ data["period"] }}</p>
                    <p>Saldo promedio: {{ data["avg_balance"] }}</p>
                    <p>Días del período: {{ data["days_period"] }}</p>
                    <p>Saldo de liquidación inicial: {{ data["liq_balance"] }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col text-danger text-center mt-5 mb-5">
                    <h1>Listado de transacciones</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    
                    <table class="table">
                        <thead>
                            <th nowrap>Fecha</th>
                            <th>Folio</th>
                            <th>Código</th>
                            <th>Descripción</th>
                            <th>Cargos</th>
                            <th>Abonos</th>
                            <th>Operación</th>
                            <th>Liquidación</th>
                            <th style="width: 160px;">Tipo</th>
                        </thead>
                        <tbody>
                            {% for row in data["transactions"] %}
                                {% if row %}
                                <tr>
                                    <td nowrap>{{ row["date"]|date("m/d/Y") }}</td>
                                    <td>{{ row["invoice"] }}</td>
                                    <td>{{ row["code"] }}</td>
                                    <td>{{ row["concept"]|raw }}</td>
                                    <td>{{ row["type"]=='egreso' ? row["amount1"] : '' }}</td>
                                    <td>{{ row["type"]=='ingreso' ? row["amount1"] : '' }}</td>
                                    <td>{{ row["amount2"] }}</td>
                                    <td>{{ row["amount3"] }}</td>
                                    <td>
                                        <select class="custom-select">
                                            <option selected>No es transacción</option>
                                            <option value="Ingreso" {{ row["type"]=='Ingreso' ? 'selected="selected"' : '' }}>Ingreso</option>
                                            <option value="Egreso" {{ row["type"]=='Egreso' ? 'selected="selected"' : '' }}>Egreso</option>
                                        </select>
                                    </td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </body>
</html>
