<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="{{ base_dir ~ '/assets/css/bootstrap.min.css' }}">
    <link rel="stylesheet" type="text/css" href="{{ base_dir ~ '/assets/css/pdf.css' }}">
</head>
<body>
<div class="pdf-header" style='background-color: #4c4d4f; background-size:cover; padding: 20px'>
    <div class="row">
        <div class="col-xs-8">
            <div class="col-xs-12" style="color: #8c8c8c;">
                <img class="pdf-header-logo" src='{{ base_dir ~ '/assets/images/logo-blanco.png' }}' />
                <p>Tecnologías de la información y desarrollo empresarial</p>
            </div>
            <div class="col-xs-12">
                <h4>Cotización: <span>{{ quote.folio}}</span></h4>
                <h4>Fecha de creación : <span>{{ quote.createdDate |date('d M, Y') |upper }}</span></h4>
                <h4>Fecha de expiración: <span>{{ quote.expirationDate |date('d M, Y') |upper }}</span></h4>
            </div>
        </div>
        <div class="col-xs-4">
            <br>
            <h5>Cliente: <span>{{ quote.project.client.name }}</span></h5>
            {% if quote.project.client.companyName%}
                <h5>RFC: <span>{{ quote.project.client.companyName |upper }}</span></h5>
            {% endif %}
            <h5>Proyecto: <span>{{ quote.project.name }}</span></h5>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="principal-div">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {% for product in quote.quoteProducts%}
                    <table  class="table table-condensed" style="border: 1px solid #dddddd !important;">
                        <tbody style="display:table-row-group!important;page-break-after: auto!important;">
                        <tr style=" page-break-inside:avoid!important;">
                            <th style="font-size: 12px;vertical-align: middle;" >PRODUCTO</th>
                            <th style="font-size: 12px;vertical-align: middle;" class="text-center">CANTIDAD</th>
                            <th style="font-size: 12px;vertical-align: middle;" class="text-center">PRECIO UNITARIO</th>
                            <th style="font-size: 12px;vertical-align: middle;" class="text-center">SUBTOTAL</th>
                        </tr>
                        <tr style="width:100%; page-break-inside:auto!important;page-break-after: auto!important;">
                            <td class="text-left" style="width: 50%">
                                {{ product.name }}
                            </td>
                            <td style="width: 10%" class="text-center">
                                {{ product.quantity}}
                            </td>
                            <td style="width: 20%" class="text-center">
                                $ {{ product.price|price }}
                            </td>
                            <td class="text-center">
                                $ {{ (product.quantity * product.price)|price }}
                            </td>
                        </tr>
                        <tr style="width:100%;page-break-inside:auto!important;page-break-after: auto!important;">
                            <td class="text-left product-description" colspan="4">
                                {{ product.description|raw }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                {% endfor %}

            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="col-xs-4 partial-cost">
                    <strong>SUBTOTAL</strong><br>
                    <span>$ {{ quote.subtotal|price }}</span>
                </div>
                <div class="col-xs-4 partial-cost" >
                    <strong>IVA</strong><br>
                    <span>$ {{ (quote.total-quote.subtotal)|price }}</span>
                </div>
                <div class="col-xs-4 total-cost">
                    <strong>TOTAL</strong><br>
                    <span>$ {{ quote.total|price }}</span>
                </div>
            </div>
        </div>
        {#
        {% if quotation.clauses|length > 0 %}
            <div class="row">
                <div class="col-xs-12">
                    <br>
                    <h3>
                        {{ "terms and conditions"|trans|capitalize }}
                    </h3>

                </div>
                <hr>
                {% for clause in quotation.clauses %}
                    <div class="col-xs-12">
                        <span>{{ clause.description |raw }}</span>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        #}
        <div style="padding:20px; padding-top:80px; text-align:center; font-size:16px; page-break-inside: avoid !important;" >
            <img class="pdf-footer-logo" src="{{ base_dir ~ '/assets/images/logo-negro.png' }}"  /><br/>
            <span style="display:block;">Calle Julio Ruelas #45, San José Insurgentes, Benito Juárez, CDMX, México</span>
            <span style="display:block">Telf. (55)55937511&nbsp; | &nbsp;contacto@tide.mx</span>
            <span style="display:block">https://tide.mx</span>
        </div>
    </div>
</div>
</body>
</html>