<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div id="login">
    <form action="{{ path('login_check') }}" method="post">
        <input type="text" id="_username" name="_username">
        <input type="text" id="_password" name="_password">
        <button type="submit"></button>
    </form>
</div>
</body>
</html>