<!DOCTYPE html>
<html lang="en" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:v="urn:schemas-microsoft-com:vml">
   <head>
      <title></title>
      <meta charset="utf-8"/>
      <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
      <!--[if mso]>
      <xml>
         <o:OfficeDocumentSettings>
            <o:PixelsPerInch>96</o:PixelsPerInch>
            <o:AllowPNG/>
         </o:OfficeDocumentSettings>
      </xml>
      <![endif]-->
      <!--[if !mso]><!-->
      <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css"/>
      <!--<![endif]-->
      <style>
         * {
         	box-sizing: border-box;
         }
         body {
			margin: 0;
			padding: 0;
         }
         a[x-apple-data-detectors] {
			color: inherit !important;
			text-decoration: inherit !important;
         }
         #MessageViewBody a {
			color: inherit;
			text-decoration: none;
         }
         p {
         	line-height: inherit
         }
         @media (max-width:520px) {
			.row-content {
				width: 100% !important;
			}
			.stack .column {
				width: 100%;
				display: block;
			}
         }
      </style>
   </head>
   <body style="background-color: #FFFFFF; margin: 0; padding: 0; -webkit-text-size-adjust: none; text-size-adjust: none;">
      <table border="0" cellpadding="0" cellspacing="0" class="nl-container" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #FFFFFF;" width="100%">
         <tbody>
            <tr>
               <td>
                  <table align="center" border="0" cellpadding="0" cellspacing="0" class="row row-1" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #f0f0f0;" width="100%">
                     <tbody>
                        <tr>
                           <td>
                              <table align="center" border="0" cellpadding="0" cellspacing="0" class="row-content stack" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #f9f9f9; color: #000000; width: 500px;" width="500">
                                 <tbody>
                                    <tr>
                                       <td class="column" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: top; padding-top: 5px; padding-bottom: 5px; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;" width="100%">
                                          <table border="0" cellpadding="15" cellspacing="0" class="image_block" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;" width="100%">
                                             <tr>
                                                <td>
                                                   <div align="center" style="line-height:10px"><img src="{{ backend_base_route }}/assets/images/wind-imagotipo-sm.4c8ed3d6_1.png" style="display: block; height: auto; border: 0; width: 175px; max-width: 100%;" width="175"/></div>
                                                </td>
                                             </tr>
                                          </table>
                                          <table border="0" cellpadding="0" cellspacing="0" class="text_block" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;" width="100%">
                                             <tr>
                                                <td style="padding-top:30px;padding-right:10px;padding-bottom:10px;padding-left:10px;">
                                                   <div style="font-family: 'Trebuchet MS', Tahoma, sans-serif">
                                                      <div style="font-size: 14px; font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; mso-line-height-alt: 16.8px; color: #4c4c4e; line-height: 1.2;">
                                                         <p style="margin: 0; font-size: 14px; text-align: center;"><span style="font-size:30px;"><strong>¿Olvidaste tu contraseña?</strong></span></p>
                                                      </div>
                                                   </div>
                                                </td>
                                             </tr>
                                          </table>
                                          <table border="0" cellpadding="0" cellspacing="0" class="text_block" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;" width="100%">
                                             <tr>
                                                <td style="padding-top:30px;padding-right:40px;padding-bottom:40px;padding-left:40px;">
                                                   <div style="font-family: 'Trebuchet MS', Tahoma, sans-serif">
                                                      <div style="font-size: 14px; font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; mso-line-height-alt: 16.8px; color: #828283; line-height: 1.2;">
                                                         <p style="margin: 0; font-size: 14px; text-align: center;"><span style="font-size:16px;">¡Está bien, suele pasar! Da clic al botón de abajo para restablecer tu contraseña.</span></p>
                                                      </div>
                                                   </div>
                                                </td>
                                             </tr>
                                          </table>
                                          <table border="0" cellpadding="10" cellspacing="0" class="button_block" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;" width="100%">
                                             <tr>
                                                <td>
                                                   <div align="center">
                                                      <!--[if mso]>
                                                      <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" style="height:44px;width:182px;v-text-anchor:middle;" arcsize="10%" strokeweight="0.75pt" strokecolor="#36ACCA" fillcolor="#36acca">
                                                         <w:anchorlock/>
                                                         <v:textbox inset="0px,0px,0px,0px">
                                                            <center style="color:#ffffff; font-family:Arial, sans-serif; font-size:16px">
                                                               <![endif]-->
															   	<a href="{{ frontend_base_route }}/reset_password?_token={{ user.recoveryToken }}">
                                                            		<div style="text-decoration:none;display:inline-block;color:#ffffff;background-color:#36acca;border-radius:4px;width:auto;border-top:1px solid #36ACCA;border-right:1px solid #36ACCA;border-bottom:1px solid #36ACCA;border-left:1px solid #36ACCA;padding-top:5px;padding-bottom:5px;font-family:Arial, Helvetica Neue, Helvetica, sans-serif;text-align:center;mso-border-alt:none;word-break:keep-all;"><span style="padding-left:5px;padding-right:5px;font-size:16px;display:inline-block;letter-spacing:normal;"><span style="font-size: 16px; line-height: 2; word-break: break-word; mso-line-height-alt: 32px;">Restablecer contraseña</span></span></div>
															   	</a>
                                                               <!--[if mso]>
                                                            </center>
                                                         </v:textbox>
                                                      </v:roundrect>
                                                      <![endif]-->
                                                   </div>
                                                </td>
                                             </tr>
                                          </table>
                                          <table border="0" cellpadding="0" cellspacing="0" class="image_block" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;" width="100%">
                                             <tr>
                                                <td style="width:100%;padding-right:0px;padding-left:0px;">
                                                   <div align="center" style="line-height:10px"><img src="{{ backend_base_route }}/assets/images/online-registration-sign-up-with-man-sitting-near-smartphone_268404-95-removebg-preview.png" style="display: block; height: auto; border: 0; width: 450px; max-width: 100%;" width="450"/></div>
                                                </td>
                                             </tr>
                                          </table>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </td>
            </tr>
         </tbody>
      </table>
      <!-- End -->
   </body>
</html>